.image {
  opacity: 1;
  padding:2;
  display:inline-block;
  position:relative;
  left:10%;
  margin-top: 10%;
  height: 100%;
  width: 35%;
  clear:both;  
}


.content {
  width:25%;
  height:48%;
  position:absolute;
  margin-top:10%;
  margin-left:15%;
  padding:5%;
  color:#333333;
  opacity:1;
  display: inline-block;
  clear:both;
  background-color:#e3e3e3;
}

