body {
	margin: 0px;
	background-color: #99ff99;
	overflow: hidden;
	font-family: sans-serif;
	color:#333333;
}
			
#score {
	position: fixed;
  font-size: 75px;
  margin-top: 12px;
  text-align: left;
  color: #3399ff;
}
      			
#bestScore {
  position:fixed;
  top: 90px;
  font-size: 40px;
  margin-top: 12px;
  text-align: left;
  color: #3399ff;
}
    			
#back {
  position:fixed;
  top: 140px;
  font-size: 40px;
  margin-top: 12px;
  text-align: left;
  color: #3399ff;
}

#container {
  position:absolute;
  margin-top:10%;
  margin-left:20%;
  margin-right: 20%;
  width:60%;
}

#container h2 {
  text-align: center;
  color:#3399ff;
  font-size:40px;
}


#container button {
  position:relative;
  left:20%;
  height:100px;
  width:100px;
  margin:2%;
  color:#333333;
  background-color: #ff6699;
  border-radius: 10px;
  font-size:1.2em;
}

#container button:hover{
  background-color:#ff3377;
}

#container button:active {
  background-color:#ff3377;
}


#startButton {
  left:42% !important;
}
    			
    			