/* html {
	background-image: url("../imgs/side.png");
	background-repeat: no-repeat;
	background-size: auto;
} */

.blurb {
	margin-left:15%;
	margin-top: 15%;
	margin-bottom: 5%;
}


.icons {
	display: inline;
	margin-left: 15%;
	margin-top:5%;
	opacity:.95;
}

.icons div {
	display: inline;
	width:40px;
	height: 40px;
}

.content {
	width:40%;
	display: block;
}

.background {
	width:100%;
	height:400px;
}

.below {
	height:800px;
	width:100%;
	background-color: blue;
	margin:bottom 30px;

}



