nav {
	position: fixed;
	top:0px;
	width:100%;
}

nav ul{
	list-style-type: none;
	overflow: hidden;
	background-color: #333333;
	border-radius: 3px;
	width:100%;

}

nav li {
	float:left;
	font-size: 1.2em;
	
}

nav a {
	display: block;
    color: #e5e5e5;
    text-align: left;
    text-decoration: none;
    width:180px;
    padding-top:4%;
    padding-bottom: 4%;
}

nav a:hover {
	color:white;
}

#logo {
	position:fixed;
	top:-32px;
	right:5%;
	margin-top: 0px;
	color:#d3d3d3;
	clear:right;
	float:right;
}