nav {
	position: fixed;
	top:0px;
}

nav ul{
	list-style-type: none;
	overflow: hidden;
	background-color: #3f3f3f;
	border-radius: 3px;


}

nav li {
	float:left;
	
}

nav a {
	display: block;
    color: lightgray;
    text-align: left;
    text-decoration: none;
    width:180px;
    padding-top:3%;
    padding-bottom: 3%;
}

nav a:hover {
	color:white;
}